.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(188, 25, 153);
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0px;
  padding: 0px;
}
